<h3>Welcome!</h3>

<div class="row">
  <div class="col-md-6">
    <% if user_signed_in? %>
      <table>
        <thead>
          <tr><h4>My Groups</h4></tr>
        </thead>
        <tbody>
          <% @my_groups.each do |group| %>
            <tr>
              <td>
                <%= link_to group.name, group_path(group) %>
              </td>
              <td>
                <!-- if user is admin, put a pencil here or something -->
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
