<div id="intro">
  <div class="item background-cover">
    <div class="container">
      <div class="row">
        <div class="carousel-caption-center colour-white">
          <h1>Welcome, <%= @name %>!</h1>
          <% if user_signed_in? %>
          <h2>My Groups</h2>
          <div class="row">
            <% @my_groups.each do |group| %>
              <div class="col-md-4">
                <%= image_tag "#{group.image_url}", class: "avatar" %>
                <h3><%= link_to group.name, group_path(group) %></h3>
              </div>
            <% end %>
          </div>
        <% else %>
          <h2>Tweet from a collaborative account.</h2>
          <p><%= link_to "Sign Up", new_user_registration_path, class: "btn btn-lg btn-primary signup", role: "button" %></p>
        <% end %>
        </div>
      </div>
    </div>
    <div class="overlay-bg"></div>
  </div>
</div>
