<h1>Welcome, <%= @name %>!</h1>

<div class="row">
  <div class="col-md-6">
    <% if user_signed_in? %>
      <table>
        <thead>
          <tr><h2>My Groups</h2></tr>
        </thead>
        <tbody>
          <% @my_groups.each do |group| %>
            <tr>
              <td>
                <h4><%= link_to group.name, group_path(group) %></h4>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
