<h3>Welcome</h3>
<p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p>

<div class="row">
  <div class="col-md-6">
    <% if user_signed_in? %>
      <h4>My Groups</h4>
      <ul>
        <% @my_groups.each do |group| %>
          <li><%= link_to group.name, group_path(group) %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
